@charset 'UTF-8';

body {
	display: -webkit-flex;
	-webkit-flex-flow: column nowrap;
	-webkit-justify-content: center; }

body > header {
	display: -webkit-flex;
	-webkit-flex-flow: row nowrap;
	-webkit-justify-content: flex-end; }

body > header > form {
	display: -webkit-flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex: 1 0 0%;
	-webkit-flex: 1 0 0%; }

body > header > form > input[type='search'] {
	-ms-flex: 1 0 0%;
	-webkit-flex: 1 0 0%; }

body > header > nav > ul {
	display: -webkit-flex;
	-webkit-flow: row nowrap;
}
