@charset 'UTF-8';

button::-moz-focus-inner {
	border: 0px;
	padding: 0px; }

body > header { display: -webkit-flex; }

body > header > form {
	display: -webkit-flex;
	-moz-appearance: none;
	-webkit-flex: 1 0 0%; }

body > header > form > button {
	-moz-appearance: none;
	-webkit-appearance: none; }

body > header > form > input[type='search'] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-flex: 1 0 0%; }

body > header > form > input[type='search']:focus { outline: none; }

body > header > nav > ul {
	display: -webkit-flex;
	-moz-appearance: none;
	-webkit-appearance: none; }

body > header > nav > ul > li {
	-moz-appearance: none;
	-webkit-appearance: none; }
