@charset 'UTF-8';

body {
	background-color: rgba(255,255,255,0.75);
	color: rgba(0,0,0,0.75);
	font-family: sans-serif;
	font-size: 9pt;
	margin: 0px;
	min-height: 480px;
	min-width: 640px;
	padding: 0px; }

body > header {
	background-color: rgba(0,0,0,0.75);
	color: rgba(255,255,255,0.75);
	display: flex; }

body > header > form {
	display: flex;
	flex: 1 0 0%;
	flex-flow: row wrap;
	margin: 0px;
	padding: 0px; }

body > header > form > button {
	background-color: rgba(0,0,0,0);
	border: none;
	border-top: 1px solid rgba(0,0,0,0);
	color: rgba(255,255,255,0.75);
	display: block;
	font-family: inherit;
	font-size: inherit;
	font-variant: small-caps;
	margin: 0px;
	padding: 0px;
	width: 128px; }

body > header > form > button:hover { border-top: 1px solid rgba(255,255,255,0.75); }

body > header > form > input[type='search'] {
	background-color: rgba(0,0,0,0);
	border: none;
	color: inherit;
	display: block;
	flex: 1 0 0%;
	font-family: inherit;
	font-size: inherit;
	font-variant: small-caps;
	margin: 0px;
	padding: 0px; }

body > header > form > progress {
	background-color: rgba(0,0,0,0);
	border: none;
	color: rgba(255,255,255,0.75);
	flex: 1 0 100%;
	height: 1px;
	opacity: 1;
	position: relative;
	top: -1px; }

body > header > form > progress[value='1'],
body > header > form > progress:not([value]) { opacity: 0; }

body > header > nav > ul {
	display: flex;
	margin: 0px;
	padding: 0px; }

body > header > nav > ul > li {
	display: block;
	list-style-type: none;
	width: 128px; }

body > header > nav > ul > li > a {
	border-top: 1px solid rgba(0,0,0,0);
	color: inherit;
	cursor: default;
	display: block;
	font-variant: small-caps;
	text-align: center;
	text-decoration: none;
	width: 100%; }

body > header > nav > ul > li > a.activeLink,
body > header > nav > ul > li > a:hover { border-top: 1px solid rgba(255,255,255,0.75); }

body > main { position: relative; }

body > main > div {
	left: 0px;
	margin: 0px auto;
	max-width: 800px;
	opacity: 0;
	padding: 0px;
	pointer-events: none;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
	z-index: 0; }

body > main > div.activeSection {
	opacity: 1;
	pointer-events: auto;
	z-index: 10; }

body > main > div > nav {
	background-color: rgba(0,0,0,0.75);
	color: rgba(255,255,255,0.75);
	padding: 0px 1px;}

body > main > div > nav > ul {
	display: flex;
	margin: 0px;
	padding: 0px; }

body > main > div > nav > ul > li {
	display: block;
	list-style-type: none;
	width: 128px; }

body > main > div > nav > ul > li > a {
	border-top: 1px solid rgba(0,0,0,0);
	color: inherit;
	cursor: default;
	display: block;
	font-variant: small-caps;
	text-align: center;
	text-decoration: none;
	width: 100%; }

body > main > div > nav > ul > li > a.activeLink,
body > main > div > nav > ul > li > a:hover { border-top: 1px solid rgba(255,255,255,0.75); }

body > main > div > div { position: relative; }

body > main > div > div > section {
	border: 1px solid rgba(0,0,0,0.75);
	left: 0px;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 0; }

body > main > div > div > section.activeSection {
	opacity: 1;
	pointer-events: auto;
	z-index: 10; }

body > main > div > div > section > form { padding: 0px 1em; }

body > main > div > div > section > form > input {
	background-color: rgba(0,0,0,0);
	border: none;
	color: inherit;
	display: block;
	font-family: inherit;
	font-size: inherit;
	padding: 0px;
	width: 100%; }
