@charset 'UTF-8';

body[lang|=en] > header > nav > ul > li > a > span[lang|=en] { display: block; }
body[lang|=de] > header > nav > ul > li > a > span[lang|=de] { display: block; }
body[lang|=ja] > header > nav > ul > li > a > span[lang|=ja] { display: block; }
body[lang|=ru] > header > nav > ul > li > a > span[lang|=ru] { display: block; }
